html {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: gray;
}

.reflection__body {
    background-color: gray;
}

.reflection__final-submit-button {
    width: fit-content;
}

.reflection__container {
    display: grid;

    grid-template-columns: auto auto auto;
    grid-template-rows: auto;

    background-color: gray;
    color: gray;
    max-width: 75vw;
    column-gap: 25px;
    row-gap: 25px;
    margin-top: 25px;
}

.reflection__title {
    margin-top: 25px;
    font-weight: 500;
    background-color: gray;
}

.reflection__sub-title {
    margin-top: 15px;
    font-weight: 400;
    background-color: gray;
}

.reflection__content {

    background-color: gray;
}

.reflection__form {
    display: flex;
    flex-direction: column;

    width: fit-content;
    align-items: center;
    justify-content: space-between;

    background-color: #A3A3A3;

    border-radius: 4px;

    padding: 10px;

    flex-grow: 1;

    input {
        width: fit-content;
    }
}

.reflection__ul {
    display: flex;
    flex-direction: column;

    margin: 0;
    padding: 0;

    li {
        margin: 4px 4px;
        display: flex;
        justify-content: space-between;

        input {
            width: 33%;
        }

        label {
            color: black;
        }
    }
}

.reflection__form-title {
    font-size: 1.2rem;
    color: black;
}

.reflection__form-div {
    display: flex;
    flex-direction: column;

    padding: 10px;
    border-radius: 4px;

    width: fit-content;
    align-items: center;

    background-color: #DADADA;
}

.reflection__form-element-subtitle {
    font-size: 1.2rem;
}

.reflection__submissions-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding: 4;
    margin: 0;
    gap: 5px;

    li {
        overflow: auto;
        max-width: 50vw;

        padding: 4;
        margin: 0;
    }
}
