#TopPanel {
    -fx-alignment: center;
}

#SidePanel {
    -fx-alignment: center;
}

#BottomPanel {
    -fx-alignment: center;
}

#Content {
    -fx-border-width: 4px;
    -fx-border-color: black;
    -fx-alignment: center;
}

#Title {
    -fx-font-size: 25px;
    -fx-alignment: center;
}

#Footnote {
    -fx-font-size: 15px;
}

#AStar__top-panel {
    
    -fx-alignment: center;
}

#AStar__side-panel {
    
    -fx-alignment: center;
}

#AStar__content {
    
    -fx-alignment: center;
}

#AStar__title {
    -fx-font-size: 15px;
}

#AStar__side-panel-button {
    
}

sorting__canvas {
    -fx-border-width: 4px;
    -fx-border-color: black;
}
