#top-panel {
    -fx-alignment: center;
    -fx-border-width: 2px;
    -fx-border-radius: 8px;
    -fx-border-color: black;
}

#side-panel {
    -fx-alignment: top-left;
    -fx-background-color: gray;
    -fx-background-radius: 8px;
    -fx-padding: 10px;
    -fx-spacing: 10px;
}

#bottom-panel {
    -fx-alignment: center;
    -fx-border-width: 2px;
    -fx-border-radius: 8px;
    -fx-border-color: black;
}

#content {
    -fx-border-width: 2px;
    -fx-border-radius: 8px;
    -fx-border-color: black;
    -fx-alignment: center;
}

#title {
    -fx-font-size: 25px;
    -fx-alignment: center;
}

#footnote {
    -fx-font-size: 15px;
}

#AStar__top-panel {
    -fx-alignment: center;
}

#AStar__side-panel {
    -fx-alignment: center;
}

#AStar__content {
    -fx-alignment: center;
}

#AStar__title {
    -fx-font-size: 15px;
}

#AStar__side-panel-button {
    
}

#sorting__container {
}

#sorting__canvas {
    -fx-border-width: 1px;
    -fx-border-radius: 2px;
    -fx-border-color: black;
}

#sorting__title-box {
    -fx-alignment: center;
    -fx-padding: 4px;
}

#sorting__title-text {
    -fx-font-size: 15px;
}

#sorting__title {
    -fx-font-size: 25px;
    -fx-color: gray;
    -fx-underline: true;
}

#sorting__info-box {
    -fx-alignment: center-left;
    -fx-padding: 4px;
}

#sorting__info {
}

#sorting__info-text {
    -fx-text-alignment: left;
}

#sorting__action-box {
    -fx-alignment: center-left;
    /* -fx-hgap: 10px; */
    /* -fx-vgap: 10px; */
}

#graph__layout {
}

#graph__canvas {
}

#graph__topPanel { 
    -fx-border-width: 2px 0px 2px 0px;
    -fx-border-radius: 0px;
    -fx-border-color: black;
    -fx-alignment: center;
}

#graph__title { 
    -fx-font-size: 20px;
}

#graph__content {
}

#graph__title-panel {
    -fx-alignment: center;
    -fx-font-size: 25px;
}
