#exam-proj__layout {
    -fx-background-color: gray;
    background-color: gray;
}

#exam-proj__content {}

#exam-proj__title {
    -fx-font-size: 45px;
    -fx-text-fill: white;
    -fx-color: white;
}
