#exam-proj__layout {
    -fx-background-color: gray;
    background-color: gray;
}

#exam-proj__content {
    -fx-background-color: lightgray;
}

#exam-proj__title {
    -fx-font-size: 45px;
    -fx-text-fill: white;
    -fx-color: white;
}

#street-map__street-map-layout {
    -fx-border-style: solid;
    -fx-border-color: black;
    -fx-border-width: 2px;
}

#street-map__street-map-title {
    -fx-border-style: solid;
    -fx-border-color: black;
    -fx-border-width: 2px;
}

#street-map__street-map-content {
    -fx-border-style: solid;
    -fx-border-color: black;
    -fx-border-width: 2px;
}

#street-map__street-map-way {
    -fx-stroke: royalblue;
    -fx-stroke-width: 4px;
}

#street-map__street-map-node {
    -fx-stroke: blue;
}

#street-map__street-map-building {
    -fx-fill: gray;
    -fx-stroke: black;
    -fx-stroke-width: 2px;
}

#street-map__street-map-address-node {
    -fx-stroke: royalblue;
    -fx-stroke-width: 3px;
    -fx-fill: white;
}

#street-map__street-map-address-node-src {
    -fx-stroke: green;
    -fx-stroke-width: 4px;
    -fx-fill: white;
}

#street-map__street-map-address-node-dest {
    -fx-stroke: red;
    -fx-stroke-width: 4px;
    -fx-fill: white;
}

#street-map__street-map-address-text {
    -fx-fill: black;
    -fx-font-size: 14px;
    -fx-font-weight: 500;
}

/* NEW */

#street-map__circle-sign {
    -fx-text-alignment: center
}

#street-map__circle-sign-outer {
    -fx-fill: black;
}

#street-map__circle-sign-inner {
    -fx-fill: white;
}

#street-map__circle-sign-text {
    -fx-fill: black;
    -fx-font-size: 14px;
    -fx-font-weight: 500;
}

#street-map__path {
    -fx-stroke-width: 4px;
    -fx-stroke: royalblue;
}
